body {
 background-color: #36393f;   
 color: white;
 font-size: 0;
}

.main {
    font-size: 2rem;
}

.navbar {
    background-color: #202225;
    font-size: 1.2rem;
}

.logo {
    height: 65px;
    width: 65px;
}

.spotify {
    width: 50%;
    height: 630px;
}

.music {
    display: inline;
}
.youtube {
    display: inline;
}
.youre-not-my-papa {
    width: 50%;
    height: 630px;
}